@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F5E8C7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 51px;
    background: #F5E8C7;
/*    background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.home-image {
    width: 125px;
    height: 100%;
    align-self: center;
    object-fit: cover;
  }

.navigation a {
    position: relative;
    right: 170px;
    font-size: 1.1em;
    color: #162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    /*background: #fff;*/
    /* background: #9E6F21; */
    background: #162938;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation form{
    position: absolute;
    right: 50px;
    top: 30px;
}

.navigation .btnLogout {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogout:hover {
 
    background: #162938;
    color: #F5E8C7;
}

/****************************/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F5E8C7;
}

.profile {
    width: 400px;
    height: 600px;
    max-width: 400px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.profile-image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 40px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/**********************/
.profile-info {
    width: 300px;
    bottom: -5%;
    display: flex;
    position: relative;
    left: -5%;
}

.profile-info button#btn_heart {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2em;
    color: #162938;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.profile-info button#btn_swipe {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5em;
    color: #162938;
    font-weight: bold;
    margin-left: 40px;
    transition: .5s;
}

.profile-info button#btn_heart:hover {
    background-color: #162938;
    color: #F5E8C7;
}

.profile-info button#btn_swipe:hover {
    background-color: #162938;
    color: #F5E8C7;
}

