<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CaTinder</title>
    <link rel="stylesheet" href="" th:href="@{/css/style_homePage.css}">
</head>

<body>
        <section class="sec">
            <header>

                <div class="home-container">
                    <a th:href="@{/homePage}">
                        <img th:src="@{/images/logo_nobackground.png}" alt="image" class="home-image"/>
                    </a>
                </div>

                <nav class="navigation">
                    <a th:href="@{/swipe}">Swipe</a>
                    <a href="#">Meine Kontakte</a>
                    <a th:href="@{/profil}">Mein Profil</a>
                    <!-- <a href="#">Einstellungen</a> -->
                    <form th:action="@{/logout}" method="post">
                        <button class="btnLogout">Logout</button>
                    </form>
                </nav>
                
            </header>

        <div class="content_left">
            <div class="textBox">
                <h2 id="welcome">Welcome to
                        <span class="img_beside_text" id="img_text">
                            <img th:src="@{/images/Logo_noBackground.png}" class="img_catinder"/>
                        </span>
                </h2>
                <br>
                <h2 id="links_ueberschrift">Was können wir Ihnen anbieten</h2>
                <br>
                <p>Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test.</p>
                <span class="homepage_img1" id="hp_img1">
                    <img th:src="@{/images/migi_homepage1.jpg}"/>
                </span>
            </div>
        </div>

        <div class="content_right">
            <div class="textBox">
                <span class="homepage_img2" id="hp_img2">
                    <img th:src="@{/images/migi_homepage2.jpg}"/>
                </span>
                <h2 id="rechts_ueberschrift">So findest Du eine andere Katze</h2>
                <br>
                <p>Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test. Das ist ein Test. Das ist ein Test. 
                    Das ist ein Test.
                </p>
                <a th:href="@{/swipe}" id="btn_swipe">Try Swipe</a>
            </div>
        </div>



            <script src="" th:src="@{js/script.js}" ></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    </section>

</body>

</html>