<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Website With Login & Registration | Team Yellow</title>
    <link rel="stylesheet" href="" th:href="@{/css/style_profil.css}">
</head>

<body>
    
    <header>

        <div class="home-container">
            <a th:href="@{/homePage}">
                <img th:src="@{/images/logo_nobackground.png}" alt="image" class="home-image"/>
            </a>
          </div>

        <nav class="navigation">
            <a th:href="@{/swipe}">Swipe</a>
            <a href="#">Meine Kontakte</a>
            <a th:href="@{/profil}">Mein Profil</a>
            <!-- <a href="#">Einstellungen</a> -->
            <form th:action="@{/logout}" method="post">
                <button class="btnLogout">Logout</button>
            </form>
        </nav>
    </header>


    <!-- <main> -->
    <section class="profile">
        <div class="profile-name">
            <h1>Katze Migi</h1>
        </div>
        <div class="profile-image">
            <img th:src="@{/images/Migi01.jpg}"/>
        </div>
        <div class="image-buttons">
            <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                <input type="file" name="file" id="file" multiple>
                <button class="upload-button" type="submit">Bild hochladen</button>
            </form>
            <button class="edit-button">Profil bearbeiten</button>
        </div>
        <section class="profile-box">
            <div class="profile-info">
                <p id="profil-info">Profilnformationen</p>
                <p id="profil-beschreibung">Hier kommt die Verbindung zur Datenbank -> Beschreibung aufrufen</p>
            </div>
        </section>


            <div class="image-gallery">
                <div class="image-wrapper">
                    <img th:src="@{/images/Migi02.jpg}"/>
                </div>
                <div class="image-wrapper">
                    <img th:src="@{/images/storage.png}"/>
                </div>
                <div class="image-wrapper">
                    <img th:src="@{/images/Migi04.png}"/>
                </div>
                <div class="image-wrapper">
                    <img th:src="@{/images/Migi05.jpg}"/>
                </div>
                <div class="image-wrapper"><img th:src="@{/images/Migi05.jpg}"/></div>
                <div class="image-wrapper"><img th:src="@{/images/Migi05.jpg}"/></div>
                <div class="image-wrapper"><img th:src="@{/images/Migi05.jpg}"/></div>
                <div class="image-wrapper"></div>
            </div>
        </section>
        
        
    <!-- </main> -->



</body>
</html>


<script src="" th:src="@{js/script.js}" ></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>